<div class="row">
    <div class="col-3 card" *ngFor="let obj of lista">
        <img src="{{obj.codigo}}.jpg" class="card-img-top" width="200px"><br>
        <div class="card-body">
            <h4 class="card-title">{{obj.nome}}</h4>
            <div class="card-text" *ngIf="obj.valorPromo>0">
                 de: <s>R$ {{obj.valor}}</s><br>
                 por: R$ {{obj.valorPromo}}
            </div>
            <div class="card-text" *ngIf="obj.valorPromo<=0">
                 por: R$ {{obj.valor}}
            </div>
            <button class="btn btn-info" (click)="mostrarDetalhe(obj);">Ver Detalhes</button>
            <button class="btn btn-success w-50" *ngIf="obj.estoque>0" (click)="adicionarCesta(obj)">Comprar</button>
        </div>
    </div>
</div>